services: 
  db: 
    image: postgres:14.3
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}  
      POSTGRES_DB: ${DB_NAME}
    container_name: plantilla-web-db
    volumes:
      - ./postgres:/var/lib/postgresql/data
    command: postgres -c 'max_connections=200'
